.jumbotron {
  background-color: slateblue;
  color: black;
}

/* .btn {
  background-color: green;
} */

.footer {
  padding: 10px 10px 0 10px;
  background-color: yellow;
  padding-bottom: 20px;
  margin-top: 20px;
}

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}


.btn-reserva {
  width: 100%;  
}